<h2>User</h2>
<form class="form-horizontal" *ngIf="user" (ngSubmit)="onSubmit()">
    <button mat-button type="submit">Save</button>
    <button mat-button type="button" (click)="cancel()">Back</button>
    <app-error-handler [error]="error"></app-error-handler>
    <div class="item">
        <mat-form-field class="row">
            <mat-label>Username</mat-label>
            <div>
                <input matInput id="userName" name="userName" [(ngModel)]="user.userName" placeholder="Username"
                    [readonly]="true" />
                <app-model-validator [model]="error?.modelState?.userName"></app-model-validator>
            </div>
        </mat-form-field>
    </div>
    <div class="item">
        <mat-form-field class="row">
            <mat-label>Email</mat-label>
            <div>
                <input matInput type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email"
                    placeholder="Email" [readonly]="user.id" />
                <app-model-validator [model]="error?.modelState?.userName"></app-model-validator>
            </div>
        </mat-form-field>
    </div>
    <div class="item">
        <mat-form-field class="row">
            <mat-label>Password</mat-label>
            <div>
                <input matInput type="password" class="form-control" id="password" name="password"
                    [(ngModel)]="password" placeholder="Password" />
                <app-model-validator [model]="error?.modelState?.userName"></app-model-validator>
            </div>
        </mat-form-field>
    </div>
    <div class="item">
        <mat-form-field class="row">
            <mat-label>Confirm password</mat-label>
            <div>
                <input matInput type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                    [(ngModel)]="confirmPassword" placeholder="Confirm password" />
                <app-model-validator [model]="error?.modelState?.userName"></app-model-validator>
            </div>
        </mat-form-field>
    </div>
    <div class="actions">
        <mat-label>Role</mat-label>
        <div *ngFor="let role of roles; let i = index ">
            <div>
                <mat-checkbox [name]="'roleIds' + i" [(ngModel)]="role.isSelected">{{ role.name }}</mat-checkbox>
                <app-model-validator [model]="error?.modelState?.userName"></app-model-validator>
            </div>
        </div>
    </div>
</form>