<mat-card>

    <mat-card-header>
        <mat-card-title>User</mat-card-title>
    </mat-card-header>

    <form *ngIf="user" (ngSubmit)="onSubmit()">
        <button mat-button color="primary" type="submit">Save</button>
        <button mat-button type="button" (click)="cancel()">Back</button>
        <app-error-handler [error]="error"></app-error-handler>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="email" id="userName" name="userName" [(ngModel)]="user.userName" placeholder="Username"
                [readonly]="true" />            
        </mat-form-field>
        <app-model-validator [model]="error?.modelState?.userName"></app-model-validator>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" id="email" name="email" [(ngModel)]="user.email"
                placeholder="Email" [readonly]="user.id" />            
        </mat-form-field>
        <app-model-validator [model]="error?.modelState?.email"></app-model-validator>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" id="password" name="password"
                [(ngModel)]="password" placeholder="Password" />            
        </mat-form-field>
        <app-model-validator [model]="error?.modelState?.password"></app-model-validator>
        <mat-form-field>
            <mat-label>Confirm password</mat-label>
            <input matInput type="password" id="confirmPassword" name="confirmPassword"
                [(ngModel)]="confirmPassword" placeholder="Confirm password" />            
        </mat-form-field>
        <app-model-validator [model]="error?.modelState?.confirmPassword"></app-model-validator>
        <div>
            <label>Roles</label>
            <div *ngFor="let role of roles; let i = index ">
                <mat-checkbox [name]="'roleIds' + i" [(ngModel)]="role.isSelected">{{ role.name }}</mat-checkbox>                    
            </div>
            <app-model-validator [model]="error?.modelState?.roleId"></app-model-validator>
        </div>
    </form>

</mat-card>