@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

mat-sidenav-container {
  height: calc(100% - 64px);
}

mat-sidenav-content {
  min-height: 100%;
}
