<a mat-list-item [routerLink]="[item.route]" *ngFor="let item of menu?.items" [routerLinkActive]="['link-active']">
    <span>{{ item.name }}</span>
</a>
<a mat-list-item [routerLink]="['/']" (click)="collapse()" [routerLinkActive]="['link-active']"
    [routerLinkActiveOptions]="{ exact: true }">
    <span>Home</span>
</a>
<a mat-list-item [routerLink]="['login']" [routerLinkActive]="['link-active']" *ngIf="!loggedIn">
    <span>Log In</span>
</a>
<a mat-list-item href="javascript:void(0);" (click)="logout()" [routerLinkActive]="['link-active']" *ngIf="loggedIn">
    <span>Log Out</span>
</a>