<mat-card>

    <mat-card-header>
        <mat-card-title>Role</mat-card-title>
    </mat-card-header>

    <form class="form-horizontal" *ngIf="role" (ngSubmit)="onSubmit()">
        <button mat-button color="primary" type="submit">Save</button>
        <button mat-button type="button" (click)="cancel()">Back</button>
        <app-error-handler [error]="error"></app-error-handler>
        <div class="item">
            <div>
                <app-text-edit [(ngModel)]="role.name" name="name" label="Name"></app-text-edit>
                <app-model-validator [model]="error?.modelState?.name"></app-model-validator>
            </div>
        </div>
    </form>

</mat-card>